<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HelpVu</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- AOS link -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Google Font Links -->
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Handlee&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

  <!-- Font Awesome Link -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- CSS Links -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- jQuery Link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/header.js"></script>
</head>

<body>
  <!-- Start of Navbar -->
  <div id="navbar" class="container-fluid">
    <nav class="navbar navbar-expand-md fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">HelpVu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
           <li class="nav-itme"><span><src></src></span></li>
           <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
           <li class="nav-item"><a href="/status" class="nav-link">Status</a></li>
           <li class="nav-item"><a href="/news" class="nav-link">News</a>     
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/help" class="nav-link">Help</a> 
        <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a> 
          </li>
        </ul>
  </div>
    </div>
  </nav>

  </div>
  <script>
  $(document).scroll(function() {

        if($(window).scrollTop() === 0) {
          $(".navbar").removeClass('navbar-dark');
   }
   else{
     $(".navbar").addClass('navbar-dark');
   }

     });
  </script>
  <!-- End of Navbar -->


<div class="container-fluid">
  <hr class="featurette-divider">
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-5 order-md-2">
      <br><br>
      <h4>About HelpVu</h4>
      <p class="help-list">
        HelpVu which is a web development project that is designed and developed by Ankit Gupta and Shashank Singh for Weekend of Code.
      </p>
    </div>
    <div class="col-md-7 order-md-1">
      <!-- <img src="../img/home-1.jpg" alt=""> -->
      <!--  -->
    </div>
  </div>

  <hr class="featurette-divider">
  <br><br>
  <div class="row featurette container-fluid" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
    <div class="col-md-7 order-md-2">
      <h4>How to SignUp or LogIn?</h4>
      <h5>If you are already not a registered user</h5>
      <li class="help-list">1. Click on Sign Up</li>
      <li class="help-list">2. Fill your Phone number</li>
      <li class="help-list">3. And that’s it and you will be redirected to your dashboard.</li>
      <br>
      <h5>If you are a registered user</h5>
      <li class="help-list">1. Click on Log In</li>
      <li class="help-list">2. Enter the phone number and password and you will be redirected to your dashboard.</li>

    </div>
    <div class="col-md-5 order-md-1">
      <!-- <img src="/images/signup.png" alt="" style="padding-right:20px;" width="400" height="400" aria-label="Placeholder: 400x400"> -->

    </div>
  </div>
  
  <br><br>
<h1 class="heading" style="text-align: center;">Carpe Diem!</h1>
<br><br><br>
<!-- Start of Script Tags -->

<script>
  AOS.init();
</script>

<!-- End of Script Tags -->
</body>

</html>
