<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <!-- Work in progress -->
        <% user.forEach(function(user){ %>
            <li>
                <%= user.hos_id %>
                <%= user.address %>
            </li>
            <% }); %>
    </ul>
    
</body>
</html>